# Lake build artifacts
.lake/
**/lake-manifest.json
**/lakefile.olean
**/.lake/

# Node & Frontend build artifacts
node_modules/
**/node_modules/
dist/
**/dist/
*.local

# Editor and OS
.DS_Store
*.swp
*~
